.mbhead{

    line-height: 1.45;
    font-size: 12px;
    background-color: #f1f3f6;
}
.mbhead h4{
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 15px;

}
.mbhead p{
    color: #878787;
    padding-left: 10px;
}
.mbhead a{
    text-decoration: none;
}
.imgs img{
    width: 158px;
}
.row h5{
padding-left: 28px;
}
.carousel-control-next-icon{
    filter: invert(1);
    background-color:rgb(80, 74, 74);
}
.carousel-control-prev-icon{
    filter: invert(1);
    background-color:rgb(80, 74, 74);
}
.carousel-inner{
    padding-top: 20px;
    margin-right: 15px;
    background-color: white;
}
#id{
    display: flex;
}
.col-2{
    background-color: white;
    font-size: x-small;
    padding-left: 15px;
    padding-top: 10px;
    
}
.cor{
   
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    padding-top: 15px;
}
button{
    color: black;
}
label{
    font-size: medium;
}
.blue {
    color:#2874f0;
}
