* {
    font-family: 'Roboto', sans-serif;

}
.colr{
    background-color: rgb(236, 238, 244);
}
.bor{
    background-color: white;
    margin-top: 50px;
}
.bot{
    border-bottom: 1px solid rgb(215, 206, 206);
}
.margino{
    margin-bottom: 60px;
}
.marginbox{
    margin-bottom: 20px;
}

.flex{
    display: flex;
}
.lockb{
    margin-right: 1px;
    width: 350px;
}
.marginbox a{
    margin-bottom: 20px;
}
.all li{
    margin-bottom: 30px;
    list-style: none;
}
.mar{
    margin-bottom: 20px;
    margin-top: 30px;
}
.cont{
    padding-left: 30px;
    margin-bottom: 20px;
}
.borax{
    background-color: white;
    margin-top: 50px;
    height: 80px;
    width: 330px;
    padding-top: 20px;
}
.pas{
    padding-left: 20px;
    margin-bottom: 50px;
}
.hei{
    margin-bottom: 300px;
    width: 400px;
}
.icon{
    color: rgb(100, 100, 232);
}
.iconb{
    border-radius: 50px;
    padding-left: 9px;
    width: 30px;
    height: 30px;
    background-color: yellow;
}
.width{
    width: 250px;
    height: 40px;
}
li:hover {
    background-color: rgb(192, 206, 233);
}
.a{
    text-decoration: none;
}
.non{
    text-decoration: none;
}
.cd{
    color: black;
}
.bom{
    border: 1px solid grey;
    width: 750px;
    height: 50px;
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 10px;
    padding-top: 10px;
}
.bom2{
    border: 1px solid grey;
    width: 750px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 10px;
    padding-top: 10px;
}
.and{
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 10px;
}
.bor1{
    background-color: white;
    margin-top: 50px;
    width: 810px;
    padding-left: 10px;
}
.boxo{
    background-color: rgb(203, 194, 194);
    width: 45px;
}

