*{
    padding: 0;
    margin: 0;
}
.des{
    display: flex;
}
body{
    background-color:  #e4e7ed;
}
.ex3{
    display: flex;
}
.red{
    color: #717478;
}
.con{
    padding-left: 10px;
    padding-right: 10px;
}
.flex{
    display: flex;
    gap: 100px;
    
}
.cor{
    display: flex;
}
.division{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
   
}
.xx{
    text-decoration: line-through;
    font-size: 14px;
    color: #878787;
}
.Qz6fcR{
    color: #212121;
}
._2Z3AuM{
    display: block;
    color: #878787;
    font-size: 14px;
    height: 20px
}
._3CWtsA{
    text-decoration: line-through;
}
._2xc6hH{
    color: #878787;
    text-decoration: line-through;
    font-size: 14px;
    margin-right: 10px;
}
._1WpvJ7{
    font-size: 18px;
    font-weight: 500;
    color: #212121;
}
.dML6Ak{
    font-weight: 500;
    color: #388e3c;
}
._3zPVJV{
    display: inline-block;
    color: #388e3c;
    font-weight: 500;
  
}
.for{
    display: flex;
}
#pay{
    color: black;
}
label{
    color: #717478;
}
.check-with-label:checked + .label-for-check {
    font-weight: bold;
    color: #388e3c;
}

#change{
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 16px;
    color: #2874f0;
}
.pro{
    font-size: 14px;
    color: #212121;
    line-height: 1.4;
}
.cor{
    border-top: 1px dashed #e0e0e0;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 0px;
    
}
#gol{
    border-top: 1px dashed #e0e0e0;
    padding: 12px 0;
    font-size: 16px
}
#sp{
    color: black;
}
h6{
    color: white;
    
}
#free{
    color: #388e3c;
    margin-left: 30px;
}


.sum{
    display: flex;
    
    gap: 5px;
    background-color: #2874f0;
    width: 876px;
    margin-top: 10px;
    padding: 14px 24px;
    border-radius: 2px 2px 0 0;
}
#in{
    color: #878787;
}
.deliver{
    background-color: white;
    padding: 20px 20px;
    
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.wint{
    display: flex;
    gap: 5px;
    background-color: white;
    padding: 20px 20px;
    
    justify-content: space-between;
    
}
.bg{
    font-size: 12px;
    color: #2874f0;
    background-color: #f0f0f0;
    border-radius: 2px;
    padding: 3px 7px;
    vertical-align: baseline;
    margin-right: 17px;
}
#third{
    margin-top: 0;
}
.one{
    display: flex;
    justify-content: centre;
    margin: 0;
    
    align-items: center;
}
.sec{
    display: flex;
    gap: 40px;
    padding: 30px;
    border-top: 1px solid #dbdee4;
    margin-top: 30px;
    justify-content: center;
    color: #878787;
    
}
.sec a{
    color: #878787;
}
.need a{
    color: #2874f0;
}
.xxx{
    margin-bottom: 20px;
}
#gol p{
    color: #388e3c;
}
.four{
    border: 1px solid #c2c2c2;
}
.numb{
    padding-left: 50px;
}
.numb1{
    padding-left: 10px;
    margin-left: 50px;
}
.pro{
     
    border-bottom: 1px solid #f0f0f0;
    color: #878787;  
}
.card{
    display: flex;
}
#ex1{
    color: #717478;
}
.ex4{
    display: flex;
    gap: 10px;
}
._253qQJ{
    
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
    display: inline-block;
    padding: 3px 6px;
}
.cat{
    background-color: white;
    margin-top: 10px;
    
    padding: 10px 20px;
    justify-content: center;
    
    
}
#tick{
    color: #2874f0;
    margin-left: 5px;
}
   
.cel2{
    
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    
    justify-content: center;

}
.ord{
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,.1);
    text-align: right;
}
.mail{
    outline: none;
    border: none;
    border-bottom: 2px solid #2874f0;
    
    

}
.x1{
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px;
    font-weight: 500
}
.new{
    position: relative;
    background-color: #878787;
    font-size: 14px;
    padding: 16px 40px;
    color: #fff;
    border-radius: 3px;
    min-width: 180px;
}
.place{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    color: #fff;
    padding: 16px 30px;
    min-width: 250px;
    font-size: 16px;
    font-weight: 500;
    
  
}
.png{
    width: 100px;
    margin: 0 auto;
}   
#fr{
    color: #388e3c;
}
.ret{
    display: flex;
    gap: 2px;
    margin-top: 20px;
}
.ret p{
    font-size: 14px;
    text-align: left;
    color: #878787;
}
#op{
    display: flex;
    justify-content: space-between;
}
.home{
    margin-top: 10px;
    
}.cel{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}
._2h2IDm{
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 500;
}
.sav{
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;
}
.sav a{
    color: black;
}
.cam{
    background: #f4f8ff;
    padding: 16px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
}
.cart{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 90px;
    
}
.x2{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}
.first{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;

}
.detail{
    background-color: white;
    padding: 40px;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.no1{
    color: #c2c2c2;
    border-color: #e0e0e0;
    /* cursor: auto; */
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
  
}
#sony{
    color: black;
}
#sony:hover{
    color: #2874f0;
}
.but{
    
    background-color: #ff9f00;
    font-size: 14px;
    padding: 16px 40px;
    color: #fff;
    border-radius: 3px;
    min-width: 180px;
}
.pic{
    width: 100px;
    margin: 0 auto;
    justify-content: center;
}
#img{
    width: 100%;
    margin-top: 40px;
}
#h{
    background-color: #f0f2f5;
    margin: 0 0 0 12px;
    color: #717478;
    font-size: 10px;
    text-align: center;
    padding: 4px 8px;
    border-radius: 2px;
}

   
a:hover{
    
    color: #2874f0;
}
a{
    text-decoration: none;
}
#G{
    color: black;
}
#G:hover{
    color: #2874f0;
}









