{% extends 'base.html' %}
{% load static %}
{% block style %}

<link rel="stylesheet" href="{% static 'cartstyle.css' %}">
{% endblock %}
{% block content %}
<section class="division con">
    <div class="con">
        <div class=" ">
            <div class="wint">
                <div class="des">
                    <div>
                        <div>
                            <span class="bg">1</span>
                        </div>
                    </div>
                    
                    <div class="">
                        <div>
                            <p id="in">LOGIN<i class="fa-solid fa-check" id="tick"></i><br><span id="sp">+918593016181</span></p>
                        </div>
                        
                    </div>
                </div>
                <div>
                    <button id="change">Change</button>
                </div>
                
            </div>
        </div>
        <div class="">
            <div class="deliver">
                <div class="des">
                    <div>
                        <span class="bg">2</span>
                    </div>
                    <div>
                        <p id="in">DELIVERY ADDRESS<i class="fa-solid fa-check" id="tick"></i><br><span id="sp">Kunjumuhamed TA,127 D Tharupeedkayil, P.O Konathakunnu,680123 
                        </span></p>
                    </div>
                </div>
                <div>
                    <button id="change">Change</button>
                </div>
            </div>
            <div class="sum">
                <div class="des">
                    <div>
                        <span class="bg">3</span>
                    </div>
                    <div>
                        <h6>ORDER SUMMERY</h6>
                    </div>
                </div>
                
                
                
            </div>
            
           
        </div>
        <div class="four">
            <div class="cel2" id="third">
                
                 {% for item in cart %}
                    {% with product=item.product %} 
                <div class="ex4">
                    <a href="{{ product.get_absolute_url }}"></a>
                    <div class="pic">
                        <img src="{{ product.pimage1.url }}" id="img">
                    </div>
                    <div class="cel2 ex4">
                        <div>
                            <p><a href="" id="sony">{{product.title}}</a></p>
                            <div class="red"><p>Black</p></div>
                            <div class="ex3">
                        
                                <!-- <div><p id="ex1">Seller:CORSECA</p></div>
                                <div><img src="{% static 'images/flip.png' %}"></div>
                                 -->
                            </div> 
                            <div>
                                <!-- <span class="_2-ut7f _2xc6hH">₹1,28,990</span> -->
                                <span class="_2-ut7f _1WpvJ7">{{item.price}}</span>
                                <span class="dML6Ak">33% Off</span>
                                <div class="_3zPVJV"><div class="ebO6Mt" id="offers-LSTDLLF6QZPNKTQMS8JPI2J50">2 offers applied<svg width="14" height="14" xmlns="http://www.w3.org/2000/svg" class="_3GN0Y0"><g fill="none"><path d="M-1-1h16v16H-1"></path><path d="M7 0C3.136 0 0 3.136 0 7s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zm.7 10.5H6.3V6.3h1.4v4.2zm0-5.6H6.3V3.5h1.4v1.4z" fill="#388e3c" class=""></path></g></svg></div></div>
                            </div>          
                        </div>
                            
                    
                        <div>
                            <p>Delivery by Wed Nov 2 | <span id="fr">Free</span><span class="_3CWtsA _2_Yr5B">₹40</span></p>
                        </div>
                    
                    </div>
                </div>
                    
                <div class="des xxx">
                    <!-- <div><button class="no1"> – </button></div> -->
                    <div class="">
                        <!-- <input type="number" class="_253qQJ" value="1"> -->{{ item.quantity }}
                    </div>
                    <!-- <div>
                        <button class="no1"> + </button></button>
                    </div> -->
                    
                    <div class="sav"><a href="">Remove</a></div>
                </div>
                    {% endwith %}
                {% endfor %}
            </div>
            <div class="cat">
                <div class="ex4">
                    <div>
                        <input type="checkbox">
                    </div>
                    <div>
                        <p>Use GST Invoice</p>
                    </div>
                </div>

                
                
            </div>
            <div class="cel2" id="op">
                <div class="ex4">
                    <div>
                        <p>Order confirmation email will be sent to</p>
                    </div>
                    <div>
                        <input class="mail" type="email" placeholder="Enter your email ID" value="">
                    </div>
                    
                </div>
                <div>
                    <a href=""><button class="new">CONTINUE</button></a>
                </div>
                
            </div>
            <div class="cat">
                <div class="ex4">
                    <div>
                        <span class="bg">4</span>
                    </div>
                    <div class="">
                        <p id="pay">PAYMENT OPTIONS</p>
                    </div>
                </div>
                <div>
                    <input type="radio" id="on" class="check-with-label" name="bank" value=""   >
                    <label for="on"  class="label-for-check" >cash on delivery</label><br>
                    <input type="radio" id="net" class="check-with-label" name="bank" value="">
                    <label for="net"  class="label-for-check">net banking</label>
                </div>
                
                 
            </div>
        </div>  
    </div>
    <div>
        <div class="detail">
            <div class="w3">
                <div class="pro">
                    <p>PRICE DETAILS</p>
                </div>
            </div>
            
            <div class="flex">
                <div>
                    <p>Price (1 item)</p>
                </div>
                <div class="numb1">
                    ₹1,28,990
                </div>
            </div>
            <div class="flex">
                <div>
                    <p>Discount</p>
                </div>
                <div class="numb">
                    - ₹42,991
                </div>
            </div>
            <div class="flex">
                <div>
                    <p>Delivery Charges</p>
                </div>
                <div class="numb1">
                    <p id="free">Free</p>
                </div>
            </div>
            <div class="flex cor">
                <div>
                    <b>Total Amount</b>
                </div>
                <div class="numb1">
                    ₹85,999
                </div>
            </div>
            <div id="gol">
                <p>You will save ₹42,991 on this order</p>
            </div>
        </div>
        <div class="ret">
            <div>
                <img src="{% static 'images/safe.png' %}">
            </div>
            <div>
                <p>Safe and Secure Payments.Easy returns.100%<br> Authentic products.</p>
            </div>
            
            
        </div>
    </div>   
</section>
<div class="sec">
    <div class="des">
        <div><a href="">Policies:</a></div>
        <div><a href="">Returns Policy|</a></div>
        <div><a href="">Terms of use|</a></div>
        <div><a href="">Security|</a></div>
        <div><a href="">Privacy|</a></div>
        <div><a href="">Infringement|</a></div>
    </div>
    <div class="one  des">
        
        <p><i class="fa-regular fa-copyright"></i> 2007-2022 Flipkart.com</p>
    </div>
    <div class="need">
        <span>Need help?</span>
        <span>Visit the <a href="">Help Center</a> or<a href="">Contact Us</a></span>
    </div>
    
    
    

</div>

    
{%endblock%}

