{% extends 'base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'css/productdescrip.css' %}">

{%endblock%}
{% block content%}

<section class="categories d-none d-lg-block pt-3 border-bottom">
    <div class="container">
        <div class="d-flex text-center justify-content-between category_p">
            <div class="category_p">
                <p><a href="">Top Offers</a></p>
            </div>
            <div>

                <p><a href="">Mobiles</a></p>
            </div>
            <div>

                <p><a href="">Electronics</a></p>
            </div>
            <div>
                <p><a href="">Appliances</a></p>
            </div>
            <div>
                <p><a href="">Fashion</a></p>
            </div>
            <div>
                <p><a href="">Beauty and Toys</a></p>
            </div>
            <div>
                <p><a href="">Grocery</a></p>
            </div>
            <div>
                <p><a href="">Home</a></p>
            </div>
            <div>
                <p><a href="">Travel</a></p>
            </div>
            <div>
                <p><a href="">2-Wheelers</a></p>
            </div>
        </div>
    </div>
</section>


<div class="container-fluid">
<section class="row">
<div class="col-lg-1 col-2 ismall down">
    <img src="{{productdetail.pimage2.url}}">
    <img src="{{productdetail.pimage3.url}}">
    <img src="{{productdetail.pimage4.url}}">
    <img src="{{productdetail.pimage5.url}}">

</div>
<div class="second container-fluid center col-10 col-lg-4">
    <img src="{{productdetail.pimage1.url}}">
    <div class="row">

        <p class="col-1"></p>
                <a class="col-4 res"  href="{% url 'cart'  %}">
           <div >
            <form action="{% url 'cart_add' productdetail.id %} " method="post" >
                {{ cart_product_form }}
                {% csrf_token %}
               
                {{form.as_p}}
                

               <button id="place1">ADD TO CART</button>
          
            </div></a>
            <p class="col-1"></p>
            
            <a class="col-5 res ponse" href="{% url 'cart' %}">     <div >
                <span class="_3iRXzi"></span>
                <br>
                <button id="place">ORDER NOW</button>
                </div></a>
            </form>
    </div>
</div>
<div class=" container-fluid col-12 col-lg-7 col-mg-12" >
    <p>Home > Mobiles & Accessories >Mobiles > {{productdetail.companybname}} Mobiles
       > {{productdetail.title}}</p>
       <h4>{{productdetail.title}}</h4>
     <div class="rat">
        <div class="rating_tags"><b>4.2</b> <i class="fa-sharp fa-solid fa-star" style="font-size: 10px;"></i> </div>
        <p>41 Ratings & 7 Reviews</p>
    </div>
    <p  style="font-size: 22px;"class="price mt-2"><strong>₹{{productdetail.price}} &nbsp;</strong>
        <span style="font-size: 22px;" class="text-decoration-line-through text-secondary"> ₹{{productdetail.disprice}}</span>
        <span style="font-size: 14px;" class="text-success ">&nbsp; 66% off</span></p>
    <span>Available offerss</span>  
        <li> <img width="18" height="18" src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90">
            <span class="offer">Bank Offer</span><span>10% off on Citi Credit Card Transactions, up to ₹1,500. On orders of ₹5,000
                and above<span id="greenn"> T & C </span></li>
                <li> <img width="18" height="18" src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90">
                    <span class="offer">Bank Offer</span><span>10% off on Citi Credit Card EMI Transactions, up to ₹2,000. On orders of ₹5,000 and above<span id="greenn"> T & C </span></li>
                    <li> <img width="18" height="18" src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90">
                        <span class="offer">Bank Offer</span><span>10% off on Citi Debit Card Transactions, up to ₹1,500. On orders of ₹5,000 and above<span id="greenn"> T & C </span></li>
                        <li> <img width="18" height="18" src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90">
                            <span class="offer">FreeBie</span><span>BYJU'S 3 Live Classes worth ₹999<span id="greenn"> T & C </span></li>

        
        <span id="greenn">View 5 more offers </span><br>

        <img  width="68" height="18" src="https://rukminim1.flixcart.com/image/160/160/prod-fk-cms-brand-images/9a95c8afa921a5b7f48302b1cb9d994a0a5e9f5b718ebab4affbae158c9a0068.jpg?q=90">
        <span>1 year</span>
        <span id="greenn"> Know More</span><br>
        

        <h3>Specification</h3><br>
            <span>Details</span>
    

<table > 
    <tbody>
        <tr>
            <td class="k"> In The Box</td>
            <td class="details">
                Handset,, Ejection Pin,, Data Cable,, Quick Start Guide
            </td>
        </tr>
        <tr>
            <td class="k">Model Number</td>
            <td class="details">
                
                SM-S08EDRGINU/ SM-S908E/DS
            </td>
        </tr>
        <tr>
            <td class="k"> Model Name</td>
            <td class="details">
                Galaxy S22 ultra 5G
            </td>
        </tr>
        <tr>
            <td  class="k">Color</td>
            <td class="details">
                Burgundy
            </td>
        </tr>
        <tr>
            <td class="k"> Browse Type</td>
            <td class="details">
                Smartphones
            </td>
        </tr>
        <tr>
            <td class="k"> SIM Type</td>
            <td class="details">
                Dual Sim
            </td>
        </tr>
        <tr>
            <td class="k"> Model Name</td>
            <td class="details">
                Galaxy S22 ultra 5G
            </td>
        </tr>
        <tr>
            <td class="k">Hybrid Sim Slot</td>
            <td class="details">
             Yes
            </td>
        </tr>      
        <tr>
            <td class="k"> OTG Compatible</td>
            <td class="details">
               Yes
            </td>
        </tr>
        <tr>
            <td class="k"> Model Name</td>
            <td class="details">
             yes
            </td>
        </tr>
           <tr>
            <td class="k">Additional details</td>
            <td class="details">
                Dynamic AMOLED 2X, 120Hz, HDR10+, 1750 nits (peak) Size 6.8 inches, 114.7 cm2 (~90.2% screen-to-body ratio) Resolution 1440 x 3088 pixels (~500 ppi density) Protection Corning Gorilla Glass Victus+ Always-on display
            </td>
        </tr>
           <tr>
           
        </tr>
    </tbody>
    <br>
    <span>Details</span>
    <tbody>
        <td class="k">Display Size</td>
        <td class="details">
            17.27 cm (6.8 inch)
        </td>
       

    </tbody>
</table>


                    </div>
</section>
</div>


{%endblock%}