{% extends 'base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'css/productdescrip.css' %}">

{%endblock%}
{% block content%}

<section class="row">
<div class="col-1  down">
    <img src="{%static 'img/product/side1.webp'%}">
    <img src="{%static 'img/product/side2.webp'%}">
    <img src="{%static 'img/product/side3.webp'%}">
    <img src="{%static 'img/product/side4.webp'%}">

</div>
<div class="second col-3">
    <img src="{%static 'img/product/s22.jpg'%}">
</div>
<div class="col-8">
    <p>Home > Mobiles & Accessories >Mobiles >SAMSUNG Mobiles
       > SAMSUNG Galaxy S22 ultra 5G (Burgundy, 256 GB) (12 GB RAM)</p>
</div>
</section>


{%endblock%}