{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
<!-- category without img -->
<section class="categories d-none d-lg-block pt-3">
    <div class="container">
        <div class="d-flex text-center justify-content-between category_p">
            <div class="category_p">
                <p><a href="">Top Offers</a></p>
            </div>
            <div>

                <p><a href="">Mobiles</a></p>
            </div>
            <div>

                <p><a href="">Electronics</a></p>
            </div>
            <div>
                <p><a href="">Appliances</a></p>
            </div>
            <div>
                <p><a href="">Fashion</a></p>
            </div>
            <div>
                <p><a href="">Beauty and Toys</a></p>
            </div>
            <div>
                <p><a href="">Grocery</a></p>
            </div>
            <div>
                <p><a href="">Home</a></p>
            </div>
            <div>
                <p><a href="">Travel</a></p>
            </div>
            <div>
                <p><a href="">2-Wheelers</a></p>
            </div>
        </div>
    </div>
</section>


<section class="order_content pt-3  ">
<div class="container-fluid">
    <div class="row">
        <!-- left content -->
        <div class="col-lg-3 col-md-3 col-12">
            <div class="filter mt-5 p-3 mb-3">
                <h5>Filters</h5>
                <p class="mt-4 fs-8">ORDER STATUS</p>
                <ul class="ps-0">
                    <li><input  class="fix form-check-input me-2" type="checkbox">On the way</li>
                    <li><input  class="fix form-check-input me-2" type="checkbox">Delivered</li>
                    <li><input  class="fix form-check-input me-2" type="checkbox">Cancelled</li>
                    <li><input  class="fix form-check-input me-2" type="checkbox">Returned</li>
                </ul>
                <p class="mt-4 fs-8">ORDER TIME</p>
                <ul class="ps-0">
                    <li><input  class="fix form-check-input me-2" type="checkbox">Last 30 days</li>
                    <li><input  class="fix form-check-input me-2" type="checkbox">2022</li>
                    <li><input  class="fix form-check-input me-2" type="checkbox">2021</li>
                    <li><input  class="fix form-check-input me-2" type="checkbox">2020</li>
                    <li><input  class="fix form-check-input me-2" type="checkbox">2019</li>
                    <li><input  class="fix form-check-input me-2" type="checkbox">Older</li>
                </ul>
            </div>
        </div>
        <!-- end left content -->
        <div class="col-lg-9 col-md-9 col-12">
            <!-- right content -->
            <!-- search box -->
            <div class=" mt-5 search_box">
                <form action="">
                    <div class="input-group mb-3" style="width: 90% !important;">
                        <input type="text" class="form-control border " placeholder="Search your orders here" aria-label="Search your orders" aria-describedby="button-addon2">
                        <button class="bkd_color border-0 text-white " type="button" id="button-addon2">&nbsp;<i class="fa-solid fa-magnifying-glass text-white"></i>&nbsp; Search Orders &nbsp;</button>
                      </div>
                      
                </form>
            </div>
            <!-- orders list-->
            <div class="odr_prouct mt-2  pe-5 pt-3  border rounded-2 mb-3">
                <div class="row">
                    <div class="col-md-12 col-1"></div>
                    <div class="col-md-2 col-2  text-end"><img class=""src="{% static 'img/order/order1.jpeg' %}" alt=""></div>
                    <div class="col-md-3 col-4">
                        <p>POCO M3 (Power Black, 64 GB)</p> 
                        <span class="d-none d-md-block">Color : Black</span>
                    </div>
                    <div class="col-3 d-none d-md-block text-center">
                        <p>₹11,499</p>
                    </div>
                    <div class="col-md-3 col-5">
                        <p><strong><i class="fa-solid fa-circle text-success me-2" style="font-size: 10px;"></i>Delivered on Jul 28, 2021</strong></p>  
                        <span class="text-dark d-none d-md-block">Your item has been delivered</span> 
                       <p class="mt-2"><a href="" class="text-decoration-none"><i class="fa-sharp fa-solid fa-star" style="font-size: 13px;"></i> Rate & Review Product</a></p>
                    </div>
                </div>
            </div>

            <div class="odr_prouct mt-2 ps-1 pe-5 pt-3  border rounded-2 mb-3">
                <div class="row">
                    <div class="col-md-12 col-1"></div>
                    <div class="col-md-2 col-2  text-end"><img class=""src="{% static 'img/order/order1.jpeg' %}" alt=""></div>
                    <div class="col-md-3 col-4">
                        <p>POCO M3 (Power Black, 64 GB)</p> 
                        <span class="d-none d-md-block">Color : Black</span>
                    </div>
                    <div class="col-3 d-none d-md-block text-center">
                        <p>₹11,499</p>
                    </div>
                    <div class="col-md-3 col-5">
                        <p><strong><i class="fa-solid fa-circle text-success me-2" style="font-size: 10px;"></i>Delivered on Jul 28, 2021</strong></p>  
                        <span class="text-dark d-none d-md-block">Your item has been delivered</span> 
                       <p class="mt-2"><a href="" class="text-decoration-none"><i class="fa-sharp fa-solid fa-star" style="font-size: 13px;"></i> Rate & Review Product</a></p>
                    </div>
                </div>
            </div>

            <div class="odr_prouct mt-2 ps-1 pe-5 pt-3  border rounded-2 mb-3">
                <div class="row">
                    <div class="col-md-12 col-1"></div>
                    <div class="col-md-2 col-2  text-end"><img class=""src="{% static 'img/order/order1.jpeg' %}" alt=""></div>
                    <div class="col-md-3 col-4">
                        <p>POCO M3 (Power Black, 64 GB)</p> 
                        <span class="d-none d-md-block">Color : Black</span>
                    </div>
                    <div class="col-3 d-none d-md-block text-center">
                        <p>₹11,499</p>
                    </div>
                    <div class="col-md-3 col-5">
                        <p><strong><i class="fa-solid fa-circle text-success me-2" style="font-size: 10px;"></i>Delivered on Jul 28, 2021</strong></p>  
                        <span class="text-dark d-none d-md-block">Your item has been delivered</span> 
                       <p class="mt-2"><a href="" class="text-decoration-none"><i class="fa-sharp fa-solid fa-star" style="font-size: 13px;"></i> Rate & Review Product</a></p>
                    </div>
                </div>
            </div>

            <div class="odr_prouct mt-2 ps-1 pe-5 pt-3  border rounded-2 mb-3">
                <div class="row">
                    <div class="col-md-12 col-1"></div>
                    <div class="col-md-2 col-2  text-end"><img class=""src="{% static 'img/order/order1.jpeg' %}" alt=""></div>
                    <div class="col-md-3 col-4">
                        <p>POCO M3 (Power Black, 64 GB)</p> 
                        <span class="d-none d-md-block">Color : Black</span>
                    </div>
                    <div class="col-3 d-none d-md-block text-center">
                        <p>₹11,499</p>
                    </div>
                    <div class="col-md-3 col-5">
                        <p><strong><i class="fa-solid fa-circle text-success me-2" style="font-size: 10px;"></i>Delivered on Jul 28, 2021</strong></p>  
                        <span class="text-dark d-none d-md-block">Your item has been delivered</span> 
                       <p class="mt-2"><a href="" class="text-decoration-none"><i class="fa-sharp fa-solid fa-star" style="font-size: 13px;"></i> Rate & Review Product</a></p>
                    </div>
                </div>
            </div>
            <!-- end orders list -->
        </div>
        <!-- end right content -->
    </div>
</div>
</section>
{% endblock %}