{% extends 'base.html' %}
{% load static %}
{% block content%}


<section class="colr">
    <div class="container flex">
        <div class="lockb row">
            <div class="borax flex">
                <div class="iconb">
                    <i class="fa-solid fa-user me-2 icon"></i>
                </div>
                <div class="pas">
                    <div>Hello,</div>
                    <b>name</b>
                </div>
            </div>
            <div class="row ">
                <div class="bor hei">
                    <div class="bot">
                        <div class="mar ">
                            <i class="fa-solid fa-boxes-packing me-3 icon"></i><b>MY ORDERS</b>
                        </div>
                    </div>
                    <div class="row bot">
                        <div class="col">
                            <div class="marginbox mar ">
                                <i class="fa-solid fa-user me-3 icon"></i>ACCOUNT SETTINGS
                            </div>
                            <ul class="all marginbox">
                                <li><a href="#" class="non cd">Profile Information</a></li>
                                <li><a href="manage.html" class="non">Manage Address</a></li>
                                <li><a href="#" class="non cd">PAN Card information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row bot">
                        <div class="col">
                            <div class="marginbox mar ">
                                <i class="fa-solid fa-wallet me-3 icon"></i></i>PAYMENTS
                            </div>
                            <ul class="all marginbox">
                                <li><a href="#" class="non cd">Gift cards</a></li>
                                <li><a href="#" class="non cd">Saved UPI</a></li>
                                <li><a href="#" class="non cd">Saved cards</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="marginbox mar">
                                <i class="fa-solid fa-folder-closed me-3 icon"></i></i>MY STUFF
                            </div>
                            <ul class="all marginbox">
                                <li><a href="#" class="non cd">My coupons</a></li>
                                <li><a href="#" class="non cd">My Reviews & Ratings</a></li>
                                <li><a href="#" class="non cd">All Notifications</a></li>
                                <li><a href="#" class="non cd">My Wishlist</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="marginbox bot">
                        <i class="fa-solid fa-right-from-bracket me-3 icon"></i>Logout
                    </div>
                </div>
            </div>
        </div>
        <div class="bor1">
            <h5 class="and">Manage Address</h5>
            <div class="bom">
                <a href="#"><i class="fa-solid fa-plus me-3"></i>ADD A NEW ADDRESS</a>
            </div>
            <div class="bom2">
                <p class="boxo">Home</p>
                <div class="flex">
                    <div><p class="me-3">Your Name</p></div>
                    <div><p>9128908932</p></div>
                </div>
                <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Quia error, consectetur ipsa possimus delectus voluptates nostrum praesentium </p></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
